@import url('https://fonts.googleapis.com/css?family=Muli:300,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #fff;
    color: #000;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 2vh 100px;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 -8px 8px 0 rgba(0, 0, 0, 0.2);
}

header .logo{
    filter: invert(1);
    width: 20vh;
}

header a{
    text-decoration: none;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li{
    position: relative;
    list-style: none;
    
}

header ul li a{
    font-family: 'Work Sans', sans-serif;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    padding: 2px;
}

header ul li a:hover{
    text-decoration: none;
    background: black;
    color: white;
    padding: 2px;
}

header.sticky{
    background: #262B2C;
}

header.sticky .logo{
    filter: invert(0);
}

header.sticky ul li a{
    color: #fff;
    padding: 2px;
    transition: 0.5s;
}

header.sticky a:hover{
    padding: 2px;
    text-decoration: none;
    background: white;
    color: black;
}



.video-container {
    position: relative;
  }
  .video-container video {
    height: auto;
    vertical-align: middle;
    width: 100%;
  }


  .overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .overlay-desc img{
      width: 50vh;
  }


  .overlay-desc h2 {
    font-family: 'Playfair Display', serif;
    color: white;
    margin-top: 4vh;
    text-decoration: underline;

  }


  .videoButton{
    transition: 0.5s ease-in-out;
    margin-top: 8vh;
    
}

    .videoButton a{
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        border: white solid 3px;
        padding: 15px 30px;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.5s;
    }

    .videoButton a:hover{
        background-color: white;
        color: black;
        box-shadow: -10px 15px 20px rgba(0, 0, 0, 0.2);
    }







  

.mainHeader {
    padding: 20px 100px;
    background: #000;
    color: hsl(216, 3%, 66%);
    border: 2px solid black ;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 16px;
}


.catalogue{ 
    padding-top: 50px;
    background-color: #EFF0F4;
}

.row{
    display: flex;
    margin-bottom: 4vh;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: auto; 
    transition: 0.5s ease-in-out;   
    text-align: center;    
}

.card img{
    width: 100vh;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;   
}

.captionHeading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: -5px 8px 20px rgba(0, 0, 0, 0.3);
}

.caption{
    width: 40vh;
    margin-top: 1vh;
}

.banner_button{
    opacity: 0;
    transition: 0.5s ease-in-out;
    margin-top: 8vh;
}

.banner_button a{
    background: #314B40;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

.banner_button a:hover{
    letter-spacing: 4px;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    border-radius: 12px;  
}

.card:hover .banner_button{
    opacity: 1;    
}


.textBanner1{
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    font-size: 18px;
    
}

.textBanner1 a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.textBanner1  a:hover{
    text-decoration: underline;
}


.container{
    background-color: #FBF8EF;
    display: flex;
    justify-content: space-between;
    margin: 10vh 10% 0 10%;
    border-radius: 8px;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2);
}

.section1{
    padding-left: 50px;
    padding-right: 50px;
}

.section1 h2{
    font-family: 'Spartan', sans-serif;
    text-shadow: -10px 15px 20px rgba(0, 0, 0, 0.2);
    padding-top: 50px;
    font-size: 45px;
}

.section1 p{
    font-family: 'Spartan', sans-serif;
    line-height: 20px;
    color: black;
    max-width:350px ;
    margin-top: 3vh;
}


.aboutButton{
    transition: 0.5s ease-in-out;
    margin-top: 8vh;
    
}

    .aboutButton a{
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        padding: 15px 30px;
        text-decoration: none;
        color: white;
        background-color: #314B40;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.5s;
    }

    .aboutButton a:hover{
        box-shadow: -10px 15px 20px rgba(0, 0, 0, 0.2);
        
    }



.section2{
    border-radius: 8px;
}

.section2 img{
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.textBanner2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
}

.textBanner2 h1{
    color: #314B40;
    font-family: 'Playfair Display', serif;
    text-shadow: -10px 15px 20px rgba(0, 0, 0, 0.4);
}

.textBanner2 video{
    margin-top: 4vh;
    height: 20vh;
}

.bannerButton{
    margin-top: 8vh;
}

.bannerButton a{
    background: #314B40;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

.bannerButton a:hover{
    letter-spacing: 4px;
}

.testimonials{ /*This is the testimonials section*/
    padding-top: 15vh;
    padding-bottom: 100px;
    text-align: center;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 -8px 8px 0 rgba(0, 0, 0, 0.2); 
}

.testimonials h1{  
    font-family: 'Fraunces', serif;
    padding-bottom: 50px;
    color: hsl(216, 3%, 66%);
}

    .flexContainer{
        display: flex;
        justify-content: space-between;
    }

        .comment{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 350px;
            margin: auto;
            padding: 20px;            
        }

        .comment img{
            border-radius:1000000px;
            width: 80px;
        }

        .comment p{
            font-family: 'Barlow', sans-serif;
            text-align: center;
            padding: 20% 0;
            color: hsl(232, 10%, 55%);
        }

        .comment h1{
            font-family: 'Fraunces', serif;
            font-weight: 700;
            font-size: 20px;  
            padding-bottom: 10px;
            color: #111;
        }

        .comment h3{
            font-family: 'Barlow', sans-serif;
            color:hsl(210, 4%, 67%);
            font-size: 15px;
            
        }

/*End of the testimonials section*/

.newsletter{
    /* background-color: #e9bc32; */
    background-color: #DFD5BF;
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60vh;
	margin: 0;
}

.box {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	padding: 30px;
	text-align: center;
	max-width: 500px;
}

.box h2 {
	margin: 10px 0 0;
}

.box p {
    
	color: #312940;
	margin: 10px;
}

.box img {
	max-width: 100%;
	width: 400px;
}

.form-control {
	position: relative;
	margin: 30px 0 20px;
}

.email-input {
	border: 0;
	border-radius: 50px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	display: block;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 42px;
	padding: 12px 25px;
	width: 100%;
}

.btn {
	background-color: #312940;
	border: 0;
	border-radius: 50px;
	color: #fff;
	font-size: 14px;
	height: 42px;
	padding: 12px 25px;
	position: absolute;
	top: 0;
	right: 0;
    transition: 0.5s;
}

.btn:hover{
    cursor: pointer;
    background-color: #4E4166;
}

.input:focus, .btn:focus {
	outline: 0;
}

.thing {
    font-size: 12px;
}

    
/* footer section */
/* footer section */
/* footer section */
/* footer section */
/* footer section */

footer{
    display: flex;
    justify-content: space-between;
    background-color: #262B2C;
    /* padding-bottom: 100px; */
    padding-top: 25px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 -8px 8px 0 rgba(0, 0, 0, 0.2); 
    font-family: 'Muli', sans-serif;
}

.section-container{
    display: flex;
    margin-top: 4vh;
    color: #373737;
    margin-left: 5vh;
}

    .logo-section img{
        width: 40vh;
        margin-bottom: 4vh;
    }

    .logo-section p{
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 14px;
        color: white;
        width: 45vh;
        text-align: justify;
        
    }

footer .socials{
    margin-left: 50px;
    margin-right: 30px;
  }

footer .socials h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    color: white;
    border-bottom: white solid 1px;
    margin-top: 20px;
    margin-bottom:10px;
    padding-right: 15px;
    padding-left: 5px;
}

.socials-container{
    display: flex;
    justify-content: center;
}

footer .socials a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 17px;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.6);
    transition: 0.5s;
  }

  footer .socials a:hover{
    opacity: 50%;
  }

  footer .footer-links{
    display: flex;
    flex-direction: column;
  }

.newsletter-section{
    font-family: 'Muli', sans-serif;
    margin-right: 5vh;
    max-width: 48vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
} 
 
.footer-box{
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	padding: 30px;
	max-width: 500px;
    
}

.footer-box h2{
    text-align: center;
    margin-bottom: 2vh;
}

.footer-box p{
    text-align: justify;
}

footer .section{
    margin-left: 50px;
    margin-right: 30px;
  }

footer .section h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    color: white;
    border-bottom: white solid 1px;
    margin-top: 20px;
    margin-bottom:10px;
    padding-right: 15px;
    padding-left: 5px;
}

footer .section a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 17px;
    transition: 0.5s;
  }

footer .section a:hover{
    /* border-bottom: white solid 2px; */
    opacity: 50%;
  }



/* end of footer */
/* end of footer */
/* end of footer */
/* end of footer */

